.navbar {
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navitem {
    float: left;
    list-style-type: none;
}

.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}


.navitem a:hover{

  background-color: #27ae60;
  color:black;
}
#homepage {

  position:absolute;


}
#text {
  position:relative;
  color:#c0392b;
font-family: helvetica;

}

.displayinline{
  display:inline;
}

button{
  display: block;
  width: 40%;
  font: 20px Impact;
  margin: auto;
  margin-top: 3%;
  height: 10%;
}